.rechytsa-image {
	height: 300px;
	width: 200px;
	margin-right: 40px;
}

.general_head_image {
	height: 320px;
	width: 250px;
	margin-left: 40px;
}

.meeting {
	height: 200px;
	width: 300px;
	margin-right: 40px;
}

ul li {
	list-style-position: inside;
	list-style-type: "~ ";
}

ol li {
	list-style-position: inside;
}

hr {
	width: 70%;
	border: 1px solid;
	margin-top: 50px;
	margin-bottom: 50px;
}